This server is a {{ ansible_facts['distribution'] }} version
 {{ ansible_facts['distribution_version'] }} system.
The fully qualified domain name is {{ ansible_facts['fqdn'] }}.
The Administrator is {{ administrator }}. Contact the Administrator for Administrative privileges.
